* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #ffffff;
  color: #191818;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAEBD7;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAEBD7;
  text-align: center;
}
.hero-wrapper {
  background-color:#FAEBD7;
  padding: 20px 40px;
  border-radius: 12px;
}
.hero-logo {
  width: 200px;
  margin-bottom: 20px;
}

/* Menu */
.menu {
  padding: 60px 20px;
  background-color:#FAEBD7;
  text-align: center;
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.menu-item {
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  width: 220px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.menu-item img {
  width: 100%;
  border-radius: 8px;
}
.menu-item h3 {
  margin: 10px 0;
}
.menu-item span {
  font-weight: bold;
  color: #000000;
}
    .menu-item {
    background: #FFDEAD;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.925);
    transition: transform 0.3s;
  }
  

/* About */
.about {
  padding: 60px 20px;
  background-color: #FAEBD7 ;
  text-align: center;
}

/* Order */
.pesan {
  padding: 60px 20px;
  background-color:#FAEBD7;
  text-align: center;
}
.order-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
}
.order-form input, .order-form button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.order-form button {
  background-color:#FAEBD7 ;
  color: rgb(2, 2, 2);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.order-form button:hover {
  background-color: #ffffff;
}

/* Footer */
footer {
  background-color: #FAEBD7;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}
